#ignore
.dart_tool
.vscode
android
build
ios
.flutter-plugins
.flutter-plugins-dependencies
ios/Runner/GeneratedPluginRegistrant.h
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
