<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    body {
      text-align: center;
      background-color: #3B5F43; /* Change this to your desired color */
      color: #FED053 ;
      display: flex;
      font-family: Helvetica;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; /* Aligns items to the start of the cross axis, which is the left side in this case */
      height: 100vh; /* Full height of the viewport */
      margin: 0; /* Remove default margin */
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .image-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    img {
      animation: rotate 2s linear 5s; /* added animation */
    }
    button {
      width: 50px; 
      height: 50px;
      margin-top: -210px; /* Adjust this value to move the button up or down */
      margin-left: 450px;
      background-color: #FED053;
      color: #3B5F43;
      font-size: 15px;
      font-family: cursive;
      border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #FED053;
      transition: transform 0.3s ease-in-out; /* Add a transition effect */
    }
    button:hover {
      background-color: #3B5F43; /* Change the button's color when it's hovered */
      color: #FED053;
    }
    button:active {
      transform: rotate(360deg); /* Scale the button down to 90% when it's clicked */
      background-color:#3B5F43;
    }
  </style>
</head>
<body>
  <div class="content">
    <div class="image-text">
      <img src="/BroncoBondCircle.png" alt="BroncoBond Logo">
      <h1><%= message %></h1>
    </div>
    <button onclick="location.href='/api/user/data'" type="button">Click Me!</button>
  </div>
</body>
</html>