<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    body {
      text-align: center;
      background-color: #3B5F43; /* Change this to your desired color */
      color: #FED053 ;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Full height of the viewport */
      margin: 0; /* Remove default margin */
    }
  </style>
</head>
<body>
  <img src="/BroncoBondCircle.png" alt="BroncoBond Logo">
  <h1><%= message %></h1>
</body>
</html>
